/* form */
form{padding:0 50px;}
form div{display:flex; align-items:center; justify-content:start; flex-wrap:wrap; padding-bottom:25px;}
form div span{width: 250px; display: block;}
form div input{width: calc(100% - 250px); padding:10px;}
.error{color:var(--red);}

h2{
	color:red;
}